# {{ ansible_managed }}

server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name _;

  location / {
    return 301 https://{{ inventory_hostname }}$request_uri;
  }

  location ^~ /.well-known/acme-challenge/ {
    root /var/www/letsencrypt;
    default_type "text/plain";
  }
}
