# {{ ansible_managed }}

server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name _;

  return 301 https://{{ inventory_hostname }}$request_uri;
}

server {
  listen 443 default_server ssl http2;
  listen [::]:443 default_server ssl http2;
  server_name _;

  ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;

  location / {
    try_files $uri $uri/index.html;
  }

  location ^~ /.well-known/acme-challenge/ {
    root /var/www/letsencrypt;
    default_type "text/plain";
  }
}
